@tailwind base;
@tailwind components;
@tailwind utilities;
summary {
  cursor: pointer;
  font-size: 20px;
  margin: 15px 0;
}

details {
  font-size: 1.125rem;
}

p {
  font-size: 1.125rem;
}

.gist .markdown-body {
  font-family: Verdana, sans-serif;
  border-bottom: none;
  border-radius: 0;
}

.gist .markdown-body h2 {
  border-bottom: transparent !important;
}

.gist .markdown-body h1 {
  border-bottom: transparent !important;
}

body .gist .gist-data {
  border-bottom: none;
  border-radius: 0;
  padding-right: 10px;
  padding-left: 10px;
  background-color: transparent;
}

a {
  color: blue;
  text-decoration: underline;
}

body .gist .gist-meta {
  display: none;
}
body {
  background-image: url('https://media.discordapp.net/attachments/833505136290299935/994333506975051776/New_Project_6.jpg');
  background-attachment: fixed;
}

.a2 {
  color: white;
  text-decoration: none;
}

.dropdown-toggle::after {
  display: inline-block;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
}

.dropdown-toggle[aria-expanded="true"]::after {
  display: inline-block;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: 0;
  border-right: .3em solid transparent;
  border-bottom: .3em solid;
  border-left: .3em solid transparent;
}

.my-dropdown .Dropdown-control,
.my-dropdown .Dropdown-option {
  background-color: #2563EB;
  color: white;
}

.my-dropdown .Dropdown-option:hover {
  background-color: #0057a3;
}

span.Dropdown-arrow {
  display: none;
}