@tailwind base;
@tailwind components;
@tailwind utilities;
summary {
  cursor: pointer;
  font-size:20px;
  margin: 15px 0;

}

details {
  font-size:1.125rem;
}

p {
	font-size: 1.125rem;
}

.gist .markdown-body {
	font-family: Verdana, sans-serif;
	border-bottom: none;
  border-radius: 0;
  
}

.gist .markdown-body h2
{
	border-bottom: transparent !important;
}

.gist .markdown-body h1
{
	border-bottom: transparent !important;
}

body .gist .gist-data {
  border-bottom: none;
  border-radius: 0;
  padding-right: 10px;
  padding-left: 10px;
  background-color: transparent;
}

a{
color:blue;
text-decoration: underline;
}

body .gist .gist-meta {
  display: none;
}
body
{
background-image: url('../public/background.jpg');
background-attachment: fixed;
}

.a2{
	color:white;
	text-decoration:none;
}