@tailwind base;
@tailwind components;
@tailwind utilities;
summary {
  cursor: pointer;
  font-size: 20px;
  margin: 15px 0;
}

details {
  font-size: 1.125rem;
}

p {
  font-size: 1.125rem;
}

a {
  color: blue;
  text-decoration: none;
}

body {
  background-image: url('https://media.discordapp.net/attachments/833505136290299935/994333506975051776/New_Project_6.jpg');
  background-attachment: fixed;
}

.a2 {
  color: white;
  text-decoration: none;
}
